@model IEnumerable<Pagina_Videojuego.Models.Videojuego>

@{
    ViewBag.Title = "listadoVideojuegoxNombre";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>BUSCAR VIDEOJUEGO POR NOMBRE</h2>
<br />

<form action="/Videojuego/listadoVideojuegoxNombre" method="post">
    <div class="form-group">
        <label>Ingresa el nombre</label>
        <input class="form-control" type="text" name="nombre" value="" />
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="BUSCAR" />
    </div>
</form>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idVid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomVide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.platafor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desarro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.portada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idVid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomVide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platafor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desarro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <img src="@Url.Content(item.portada)" width="50" height="70" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            
        </tr>
    }

</table>
